@model ListingDetailViewModel
@{
    ViewData["Title"] = "Listing details";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <partial name="_InfoMessage">

    <h2>@Model.StreetAddress in @Model.Name</h2>
    <p>@Model.AreaDescription</p>
    <p>@Model.PropertyDescription <img src=@($"/img/{Model.PropertyPhotoUrl}")></p> 
    <ul>
        <li>Ad ID: @Model.ListingID</li>
        <li>Rental object ID: @Model.RentalObjectID</li>
        <li>Rental object type: @Model.RentalObjectType</li>
        <li>Floor: @Model.Floor</li>
        <li>Rooms: @Model.Rooms</li>
        <li>Rent: @Model.Rent</li>
        <li>Size: @Model.Size</li>
        <li>Floorplan: @Model.FloorPlanUrl</li>
        <li>Published: @Model.PublishDate</li>
        <li>Last application date: @Model.LastApplicationDate</li>
        <li>Move in: @Model.MoveInDate</li>
    </ul>
</div>
