@model ListingDetailViewModel
@{
    ViewData["Title"] = "Listing details";
}

<h1 class="display-4">Listing details</h1>

<div class="text-center">
    <h2>@Model.StreetAddress i @Model.Name</h2>
    <p>@Model.AreaDescription</p>
    <p>@Model.PropertyDescription <img src=@($"/img/{Model.PropertyPhotoUrl}")></p> 
    <ul>
        <li>Annons-id: @Model.ListingID</li>
        <li>Objekt-id: @Model.RentalObjectID</li>
        <li>Objekttyp: @Model.RentalObjectType</li>
        <li>Våning: @Model.Floor</li>
        <li>Rum: @Model.Rooms</li>
        <li>Hyra: @Model.Rent</li>
        <li>Storlek: @Model.Size</li>
        <li>Planlösning: @Model.FloorPlanUrl</li>
        <li>Publicerad: @Model.PublishDate</li>
        <li>Senaste ansökningsdatum: @Model.LastApplicationDate</li>
        <li>Inflyttning: @Model.MoveInDate</li>
    </ul>

</div>
