@model IEnumerable<OpenListingViewModel>
@{
    ViewData["Title"] = "Listings";
}

<div class="text-center">
    <h1 class="display-4">Available listings</h1>   
</div>

<div class="listings">
@foreach (var item in Model)
{
    <div class="listings-item">
        <div class="listings-item-img">
            <img src=@($"/img/{item.PropertyPhotoUrl}")>
        </div>
        <div class="listings-item-area">
            <h2>@item.StreetAddress i @item.Name</h2>
        </div>
        <div class="listings-item-descr">
            <h5>@item.Rooms (@item.Size m2)</h5>
            <h6>@item.Rent SEK/month</h6>
            <ul>
                <li>Publicerad: @item.PublishDate</li>
                <li>Sista ansökningsdatum: @item.LastApplicationDate</li>
                <li>Inflytt: @item.MoveInDate</li>
            </ul>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
        <div class="listings-item-btn">
            <p>Btn</p>
        </div>
        }
    </div>
}

</div>

