@model IEnumerable<OpenListingViewModel>
@{
    ViewData["Title"] = "Listings";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <partial name="_InfoMessage">
</div>

<div class="listings">
@foreach (var item in Model)
{
    <div class="listings-item">
        <div class="listings-item-img">
            <img src=@($"/img/{item.PropertyPhotoUrl}")>
        </div>
        <div class="listings-item-area">
            <h2>@item.StreetAddress in @item.Name</h2>
        </div>
        <div class="listings-item-descr">
            <h5>@item.Rooms (@item.Size m2)</h5>
            <h6>@item.Rent SEK/month</h6>
            <ul>
                <li>Published: @item.PublishDate</li>
                <li>Last application date: @item.LastApplicationDate</li>
                <li>Movein date: @item.MoveInDate</li>
            </ul>
        </div>
        <div class="listings-item-btn">
            <p>
                <a asp-action="Details" asp-route-id="@item.ListingID">Läs mer</a>
            </p>

            @if (User.Identity.IsAuthenticated)
            {
                <form asp-action="MakeNewApplication" method="post" asp-route-id="@item.ListingID">
                    <input type="submit" value="Apply" /> 
                </form>
            }
        </div>
    </div>
}

</div>

